<div class="modal" [ngClass]="{'showModal': exibir}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cadastrar Pessoa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
              <input type="radio" name="radioTipoPessoa" value="0" [(ngModel)]="tipoPessoa"/>Pessoa Fisica
          </div>
          <div class="col-md-6">
              <input type="radio" name="radioTipoPessoa" value="1" [(ngModel)]="tipoPessoa"/>Pessoa Jurídica
          </div>
        </div>
        <br/>
        <div class="row" *ngIf="tipoPessoa == '0'">
            <div class="col-md-12 mt-2">
              <label class="col-md-4 float-left mt-2" for="nome">CPF:</label>
              <input id="cpf" name="cpf" [(ngModel)]="cpfCnpj" class="form-control col-md-6 float-left"  type="text">
            </div>
            <div class="col-md-12 mt-2">
              <label class="col-md-4 float-left mt-2" for="nomeCpf">Nome:</label>
              <input id="nomeCpf" name="nome" [(ngModel)]="nome" class="form-control col-md-6 float-left"  type="text">
            </div>
            <div class="col-md-12 mt-2">
              <label class="col-md-4 float-left mt-2" for="dataNasCimento">Data Nascimento:</label>
              <input id="dataNasCimento" name="dataNasCimento" [(ngModel)]="dataNasCimento" class="form-control col-md-6 float-left"  type="date" >
            </div>
        </div>
        <div class="row" *ngIf="tipoPessoa == '1'">
            <div class="col-md-12 mt-2">
              <label class="col-md-4 float-left mt-2" for="cnpj">CNPJ:</label>
              <input id="cnpj" name="cnpj" [(ngModel)]="cpfCnpj" class="form-control col-md-6 float-left"  type="text">
            </div>
            <div class="col-md-12 mt-2">
              <label class="col-md-4 float-left mt-2" for="nomeCnpj">Nome Fantasia:</label>
              <input id="nomeCnpj" name="nome" [(ngModel)]="nome" class="form-control col-md-6 float-left"  type="text" >
            </div>
            <div class="col-md-12 mt-2">
                <label class="col-md-4 float-left mt-2" for="razaoSocial">Razão Social:</label>
                <input id="razaoSocial" name="razaoSocial" [(ngModel)]="razaoSocial" class="form-control col-md-6 float-left"  type="text" >
              </div>
        </div>
        
        <div *ngIf="error">
            <p>Ocorrreu um erro: </p>
            <pre>{{error}}</pre>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="salvar()" >Salvar</button>
        <button type="button" (click)="closeModal()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>